BIA.Bridge/x64
BIA.Bridge/x86

BIA.UI/bin
BIA.UI/obj

bia.core/Win32
bia.core/x64

BIA/Debug
BIA/Release

BIA/x64
BIA/Win32
Win32/

Debug/
Release/

build/
packages/

third-party/*
!third-part/info.txt
!third-part/create_required_directories

x64/
x86/

.vs/